
body{	
	font-weight: 300;
	margin-top: 50px;
    margin-left: 300px;
	margin-right: 300px;
	border: 2px solid;
	border-radius: 20px;
	min-width: 770px;	
	background-color: #1E273E;
	color: #AAABAF;
}

h1 {
	margin-top: 0;
    margin-bottom: 0;
    border-bottom: 2px solid;
}

h3 {
	font-size: 1.8em;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	padding-left: 5px;
}

p {
	font-size: 1.2em;	
}
#ico {	
    width: 100%;
}
figure img {
	border: 1px solid #3F4141;
	border-radius: 10px;
	padding: 4px;
	box-shadow: 3px 3px 5px rgba(0,0,0,.5);
	display: inline-block;
	vertical-align: top;
}
figcaption {
	font: italic  1em  Arial, Helvetica, sans-serif;
	text-align: center;
	padding-top: 10px;
	text-decoration: none;
    color: #AAABAF;
}

figcaption a {
	text-decoration: none;
    color: #AAABAF;
}

header{
	border-bottom: 2px solid;
}

figure {
	display: inline-block;
	vertical-align: top;
	width: 210px;
	margin-left: 10px;
}

#headImg {
	width: 100%;
	height: 300px;
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#headImgGameF {
	width: 100%;
	height: 200px;
	border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.pad {
	padding: 10px;	
	text-shadow: 0px 0px 1px #3F4141;	
}

nav {
	background-color: #464648;
	width: 100%;
	margin: 0 auto 0;
	white-space: nowrap;
}

.topMenu {
	list-style: none; 
	margin: 0;
	padding: 0;
}

.topMenu li {
	display: inline-block;	
	position: relative;
}

.topMenu a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	outline: none;
	transition: .3s linear;
	font-size: large;
	color: #AAABAF;
}

.subMenu {
	list-style: none;
    padding: 0;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 10;	
	transition: 0.3s ease-in-out;
	background-color: rgba(70, 70, 72, 0.9);	
	margin-top: 2px;
	white-space: normal;
	display: none;
}

.subMenu li {
	width: 100%;
}

fieldset {	
	padding-left: 0;
	color: #AAABAF;
	border: 0;
    padding-right: 20px;
	margin-top: 10px;
	padding-bottom: 0px;
}

form {
	margin: 0;
}

input {
	margin-left: 10px;
}
.subMenu a {
	padding-left: 10px;
}

.presss {
	float: right;
}

.topMenu li :hover {
	background-color:#AAABAF;
	color: #464648;
}

.bodyRegister {
	min-width: 320px;
    margin-left: 40%;
    margin-right: 40%;
	max-height: 75%;
	padding: 10px;
}

.headRegister {
	border-bottom: none;
}

.headRegister h1 {
	text-align: center;
    padding-bottom: 15%;
	padding-top: 5%;
	border-bottom: none;
}

.inputReg {
	width: 100%;
    box-sizing: border-box;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 5px;
	padding: 0 10px;
	font-size: 14px;
}

.labelReg {
	margin-left: 10px;
}

.mainReg {
	padding-right: 20px;
}

.inputBtnSubmit {
	background-color: #AAABAF;
    border: 0;
    color: #464648; 
    width: 100%;
    padding: 0;
    height: 48px;
    border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
}

.inputBtnSubmit.inputSub {
	margin-bottom: 5px;
	height: 30;
	margin-top: 5px;
}

.inputReg.inputSub {
	margin-bottom: 5px;
    height: 30;
}

legend {
	margin-left: 10;
}

.next {
	margin-left: 35px;
    color: #AAABAF;
    font-size: 16px;
}

.article {
	color: #AAABAF;
    font-size: 16px;
}

.text-slide {
	border: 2px solid;
    border-radius: 20px;
    padding-left: 20px;
	margin: 20px;
	cursor: pointer;	
}

.slide {
	display: none;
}

.inputReg.emCont {
	width: 320px;
    margin-left: 0;
}

.inputReg.txtCont {
	margin: 5px 0px 25px;
	min-height: 300px;
	max-width: 100%;
	padding-top: 10px;
}

.inputBtnSubmit.btnSubCont {
	margin: 0;
    width: 250px;
    height: 40px;
}
.text-slide h3:hover {
	background-color: #AAABAF;
	color: #464648;		
}

.textOPS {
	margin: 10px;
    font-size: 17px;
}